<div id="background">
  <img src="../../../../assets/image/new.jpg" alt="" id="img">
  <div id="secondBackground">
    <div id="description">
        <span id="title">P</span>
        <span id="title1">LANT</span>
        <span id="title2">S</span>
        <span id="title3">CANNER</span>
    </div>
    <div id="line"></div>
    <div id="form">
      <span id="login"> LOGIN </span>
      <div id="matIcon">
        <mat-icon>person</mat-icon>
      </div>
      <form class="example-form">
        <div id="userName">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>User Name</mat-label>
            <label>
              <input matInput type="text">
            </label>
          </mat-form-field>
        </div>

        <div id="password">
          <mat-form-field class="example-full-width " appearance="fill">
            <mat-label>Password</mat-label>
            <label>
              <input matInput type="password">
            </label>
          </mat-form-field>
        </div>
        <button id="btnLog" mat-raised-button color="accent" type="button" routerLink = '/dashboard'>LOGIN</button>
        <h1 id="txtOr">OR</h1>
        <div mat-button id="btnSingUp">Create account</div>
      </form>
    </div>

  </div>
</div>
