<div id="titleBar">
  <span id="logo" class="material-icons">grass</span>
  <h1 id="name" class="mat-primary">Plant Scanner</h1>
  <div class="div" id="div1" ></div>
  <div class="div" id="div2" ></div>
  <div class="div" id="div3" ></div>
  <div class="div" id="div4" ></div>
  <div class="div" id="div5" ></div>
  <div class="div" id="div6" ></div>
  <div class="div" id="div7" ></div>
  <div class="div" id="div8" ></div>
  <div class="div" id="div9" ></div>
  <div class="div" id="div10" ></div>
  <span class="material-icons">notifications</span>
  <span class="material-icons md-light md-active md-36">account_circle</span>
  <span class="material-icons" routerlink="" (click)="getLoginPage()">logout</span>
</div>
